<!-- render-jinja -->
<!-- no-sidebar -->
{% set lang = frappe.get_doc("Language", frappe.form_dict.lang) %}
{% set messages = frappe.db.sql("""select t1.name, t1.source, t1.translated, t1.verified,
	t1.flagged, t1.modified, t2.first_name, t2.last_name
	from `tabTranslated Message` t1, tabUser t2
	where t1.language = %s and t1.source like %s and t2.name = t1.modified_by
	order by t1.source""", (lang.name, (frappe.form_dict.c or "A") + "%"), as_dict=True)
%}
{% set karma = frappe.db.get_value("User", frappe.session.user, "karma") or 0 %}

<script>
window.language_name = "{{ lang.language_name }}";
window.user_karma = {{ karma }};
window.lang = "{{ frappe.form_dict.lang }}";
</script>

<ul class="pagination">
{% for c in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
 	<li data-char="{{ c }}">
		<a href="/translator/view?c={{ c }}&lang={{ frappe.form_dict.lang }}">{{ c }}</a>
	</li>
{% endfor %}
</ul>

{% if frappe.session.user == "Guest" %}
<div class="alert alert-info">You must <a href="/login">login</a> to edit or verify  translations</div>
{% else %}
<div class="alert alert-info">Please edit or verify translations. You have karma {{ karma }}!</div>
<p>
<ol>
	<li>Click on the message to edit. </li>
	<li>For help, comments, <a href="https://github.com/frappe/translator/issues" target="_blank">please use GitHub Issues</a>. </li>
	<li>You get a karma point every time someone upvotes your edit. </li>
</ol>
</p>
<hr>
{% endif %}

{% for message in messages %}
{% if "<" not in message.source %}
<div class="row" style="margin-bottom: 7px; padding-bottom: 7px;
	border-bottom: 1px solid #f2f2f2;"
	data-message-id="{{ message.name }}">
	<div class="col-sm-5">
		<div>
			{{ message.source }}
			<i title="Badly formed message"
				class="icon-flag text-warning {{ '' if message.flagged else 'hide' }}"></i>
		</div>
		<div class="text-muted small">
			<span class="message-ts" data-timestamp="{{ message.modified }}"></span>
			by {{ (message.first_name or "") + " " + (message.last_name or "") }}
		</div>
	</div>
	<div class="col-sm-5 translated
		{{ 'text-right' if frappe.form_dict.lang=='ar' else '' }}"
		data-verified="{{ message.verified or 0 }}">
		{{ message.translated }}
	</div>
	<div class="col-sm-2">
		{% if frappe.session.user != "Guest" %}
		<button
			class="btn btn-small btn-verify
				btn-{{ "success" if message.verified else "danger" }}"
			data-verified="{{ message.verified or 0 }}"
			>Verify ({{ message.verified or 0 }})</button>
		{% else %}
		<span
			class="label
				label-{{ "success" if message.verified else "danger" }}"
			>Verfied ({{ message.verified or 0 }})</span>
		{% endif %}
	</div>
</div>
{% endif %}
{% endfor %}
