<!-- jinja -->
<!-- no-sidebar -->
<!-- no-header -->
<!-- no-breadcrumbs -->
<!-- title: ERPNext Translator -->
<h1 class="page-title">
    Help translate ERPNext and other Frappe Apps
</h1>

<h3 class="page-sub-title">
    Click on a Language to Start
</h3>

<div class="lang-list narrow">
	{% for lang in frappe.get_all("Language", fields=["*"], order_by = "name asc", limit_page_length=1000) %}
	{% if lang.name != "en" %}
	{% set info = get_info(lang.name) %}
	{% set percent = info.verified * 100 / (info.total + 1) %}
    <a class="grey no-decoration" href="/view?lang={{ lang.name }}">
	<div class="lang">
		<h3>{{ lang.language_name }} ({{ lang.name }})</h3>
		<div class="progress" style="height: 2px;">
			<div class="progress-bar" role="progressbar" aria-valuenow="60"
				aria-valuemin="0" aria-valuemax="100" style="width: {{ percent }}%;">
				<span class="sr-only">{{ percent }}% Verified</span>
			</div>
		</div>
		<p class="small text-muted" style="margin-top: -20px"
			>{{ info.edited or 0 }} messages edited. {{ info.verified }} verified of {{ info.total }}</p>
	</div>
    </a>
    <br>
	{% endif %}
	{% endfor %}
</div>
