<!-- jinja -->
<!-- no-sidebar -->
<!-- no-header -->
<!-- no-breadcrumbs -->
<!-- title: ERPNext Translator -->
{% extends "frappe_theme/templates/base.html" %}
{% block title %}ERPNext Translation Portal{% endblock %}

{% block head_include %}
	<meta name="description" content="ERPNext translation portal allows users around the world to contribute translations for ERPNext and other Frappe apps" />
	<meta name="keywords" content="ERP Translation, ERPNext Translation, Frappe Translation, Frappe i18n" />
	<style>
		table {
			margin: auto;
			border: 1px solid #d1d8dd;
		}
		td{
			min-width: 200px;
			height:50px;
		}
		th{
			color:white;
			background-color: #36414c
		}
		hero-button {
			width: 170px;
		}
		.footer-message {
			display: none;
		}
	</style>
{% endblock %}

{% block content %}
<section class='top-section text-center'>
	<div class='container'>
		<h1>ERPNext Translator</h1>
		<p class='lead'>Help translate ERPNext and other Frappe apps.
		<p class="mt-4">
			<a class="btn btn-primary btn-lg hero-button" target="_blank" href="https://frappe.io/docs/user/en/guides/basics/contribute_translations">Contribute</a>
		</p>
		<a class="mt-0 text-muted" target="_blank" href="https://github.com/frappe/translator/issues/new?title=New+Language+-+YOUR+LANGUAGE+NAME">Request a new language</a>
		<div class='py-4'></div>
	</div>
</section>
<section id="contributed" class="section-bg">
	<div class='py-5 container text-center'>
		<h3 class='text-center'>Contributed Translations</h3>
		<p class='lead'>Displaying last 100 contributed translations</p>
		<a class="mt-0 text-muted" target="_blank" href="https://frappe.io/about#contact">Contact us to become a verifier</a>
		<div class="mt-5">
			<div class="row px-5 mx-auto">
				<div class="col-md-6 col-sm-12 mb-3">
					<select class="form-control language-select">
						<option disabled hidden selected>Select language</option>
						{% for lang in frappe.get_all("Language", fields=["language_code", "language_name"]) %}
						<option value="{{ lang.language_code }}" {% if lang.language_code == frappe.form_dict.lang %}selected{% endif %}>{{ lang.language_name }}</option>
						{% endfor %}
					</select>
				</div>

				<div class="col-md-6 col-sm-12">
					{% set all_statuses = [] %}
					<select class="form-control status-select">
						<option disabled hidden selected>Select status</option>
						{% set ct_meta = frappe.get_meta("Contributed Translation") %}
						{% for field in ct_meta.fields %}
							{% if field.label=="Status" %}
								{% set all_status = field.options %}
								{{ all_statuses.extend(all_status.split("\n")) }}
							{% endif %}
						{% endfor %}
						{% if all_statuses %}
							{% for status in all_statuses %}
							<option value="{{ status }}" {% if status == frappe.form_dict.status %}selected{% endif %}>{{ status }}</option>
							{% endfor %}
						{% endif %}
					</select>
				</div>
			</div>
			<a class="text-muted" href="/">Clear Filters</a>
		</div>
		<table class="bg-white table mt-5 {{ 'table-hover' if contributed_translations }} text-left">
				<thead>
					<tr>
						<th scope="col">Language</th>
						<th scope="col">Original Text</th>
						<th scope="col">Translated Text</th>
						<th scope="col">Status</th>
					</tr>
				</thead>

				<tbody>
					{% if frappe.form_dict.lang and frappe.form_dict.status %}
						{% set query_filters = {"language": frappe.form_dict.lang, "status":frappe.form_dict.status} %}
					{% elif frappe.form_dict.lang and not frappe.form_dict.status %}
						{% set query_filters = {"language": frappe.form_dict.lang} %}
					{% elif not frappe.form_dict.lang and frappe.form_dict.status %}
						{% set query_filters = {"status":frappe.form_dict.status} %}
					{% else %}
						{% set query_filters = {} %}
					{% endif %}

					{% set contributed_translations = frappe.get_all("Contributed Translation", filters=query_filters, fields=["*"], limit_page_length=100) %}
					{% if contributed_translations %}
						{% for translation in contributed_translations %}
						<tr>
							<td>{{ translation.language }}</td>
							<td>{{ translation.source_string }}</td>
							<td>{{ translation.translated_string }}</td>
							<td>
								  <span class="indicator {{ "green" if translation.status=="PR sent" else "orange"
																							if translation.status=="Verified" else "red" }}"></span>
								{{ translation.status }}
							</td>
						</tr>
						{% endfor %}
					{% else %}
					<tr>
						<td colspan="5" class="text-center text-muted p-5">No contributions to show</td>
					{% endif %}
				</tbody>

			</table>
	</div>
</section>
{% endblock %}

{% block script %}
<script type="text/javascript">
	function setFilter() {
		let lang = $('.language-select').val();
		let status = $('.status-select').val();
		let query_params = new URLSearchParams();
		if (lang) query_params.append('lang', lang);
		if (status) query_params.append('status', status);
		window.location.href = `?${query_params.toString()}#contributed`;
	}
	$('.language-select, .status-select').on('change', setFilter);
</script>
{% endblock %}