<!-- jinja -->
<!-- no-sidebar -->
<!-- no-header -->
<!-- no-breadcrumbs -->
{% set lang = frappe.get_doc("Language", frappe.form_dict.lang) %}
{% set karma = frappe.db.get_value("User", frappe.user, "karma") or 0 %}

<script>
window.language_name = "{{ lang.language_name }}";
window.user_karma = {{ karma }};
window.lang = "{{ frappe.form_dict.lang }}";

frappe.ready(function() {
	$(".page-header h2").html("Translate " + window.language_name);
	document.title = "Translate " + window.language_name;

	$(".message-ts").each(function() {
		var ts = $(this).attr("data-timestamp");
		$(this).html("Last Updated: "
		 + (comment_when(ts) || ts));
	});

    $(".btn-search").on("click", function() {
		search_param = $("input#search-box").val();
		lang = get_parameter_by_name('lang');
		if (search_param && lang) {
			window.location = "/translator/view?lang="+lang+"&search="+search_param;
		}
    });

	$("input#search-box").on("keyup", function(event){
		if(event.keyCode == 13){
            $(".btn-search").trigger("click");
        }
	});

    $(".select-letter").val(get_url_arg("c") || "").on("change", function() {
        var c = $(this).val();
		window.location = "/translator/view?lang="+lang+"&c="+c;
    })
})
</script>

{% if frappe.user == "Guest" %}
<p class="text-muted">
	You must <a href="/login">login</a> to edit or verify translations
</p>
{% endif %}



<div class="row">
    <div class="col-sm-8">
        {% if frappe.form_dict.search %}
        <h1>{{ lang.language_name }}: Filtered by
                <span class="text-muted">{{ frappe.form_dict.search }}</span></h1>
        {% else %}
        <h1>{{ lang.language_name }}: Starting with Letter
                <span class="text-muted">{{ frappe.form_dict.c or '*' }}</span></h1>
        {% endif %}
    </div>
    <div class="col-sm-4">
        <div class="input-group" style="margin-top: 25px;">
            <input type="text" class="form-control" id="search-box" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default btn-search" type="button">Search</button>
            </span>
        </div>
    </div>
</div>
<br>



<div class="row">
    <div class="col-sm-5">
        <span>Jump To Letter: </span>
        <select class="form-control select-letter" id="jump-to" placeholder="Jump to letter"
            style="width: 60px; margin-left: 10px; display: inline-block;">
            {% for c in "*ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
             	<option value="{{ c }}">{{ c }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-5">
    </div>
    <div class="col-sm-2 text-right">
        {% if frappe.user != "Guest" %}
        Karma: {{ karma }}
        {% endif %}
    </div>
</div>
<br><br>

<div class="row">
    <div class="col-sm-5">
        <b>Original</b>
    </div>
    <div class="col-sm-5">
        <b>Translated</b>
    </div>
    <div class="col-sm-2 text-right">
    </div>
</div>
<br>


{% for message in messages %}
{% if "<" not in message.message %}
<div class="row single-message"
	data-message-id="{{ message.translated_name or '' }}" data-source-message-id="{{ message.source_name or '' }}">
	<div class="col-sm-5">
		<div>
			{{ message.message | safe }}
			<i title="Badly formed message"
				class="icon-flag text-warning {{ '' if message.flagged else 'hide' }}"></i>
		</div>
		<div class="text-muted small">
			<span class="message-ts" data-timestamp="{{ message.modified }}">
				{{ message.modified }}
			</span>
			by {{ (message.first_name or "") + " " + (message.last_name or "") }}
		</div>
	</div>
	<div class="col-sm-5 translated
		{{ 'text-right' if frappe.form_dict.lang=='ar' else '' }}"
		data-verified="{{ message.verified or 0 }}" style="min-height: 20px; cursor: pointer;">
		{{ message.translated or '' }}
	</div>
	<div class="col-sm-2 text-right">
		{% if message.translated_name and message.modified_by != "Administrator" %}
		<i class="icon-ok" title="Edited"></i>
		{% endif %}
		{% if frappe.user != "Guest" %}
		<button
			class="btn btn-xs btn-verify
				btn-{{ "success" if message.verified else "danger" }}"
			data-verified="{{ message.verified or 0 }}"
			>Verify ({{ message.verified or 0 }})</button>
		{% else %}
		<span
			class="label
				label-{{ "success" if message.verified else "danger" }}"
			>Verfied ({{ message.verified or 0 }})</span>
		{% endif %}
	</div>
</div>
{% endif %}
{% endfor %}
